<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{%block title%} bienvenidos {%endblock%}</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" />
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/codigo.js' %}"></script>
  <script src="{% static 'js/jquery.form.min.js' %}"></script>
  <script src="{% static 'js/eliminarcarro.js' %}"></script>
  <script src="{% static 'js/agregarcarro.js' %}"></script>
  <script src="{% static 'js/agregarcarro2.js' %}"></script>
  <script src="{% static 'js/hada.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

</head>
<body>

<!--Modal modificar-->
 <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel2">Modal Modificar</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea agregar el producto <span id="modal_name2"></span> al carrito?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmAgregar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto2" name="product_id2">
            <input  id="pcantidad" name="cantidad" value="1">
            
            <button type="submit" class="btn btn-danger" id="{{p.id}}">Si</button>
        </form>
    </div>
</div>
<!--EndModal-->


<!--Modal Eliminar-->
<!--  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Producto</h3>
    </div>
    <div class="modal-body">
    <p>¿Deseas eliminar  el producto <span id="modal_name"></span> del carrito?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="product_id">
            <input type="hidden" id="pcantidad" name="cantidad" value="0">
            <button type="submit" class="btn btn-danger">Aceptar</button>
        </form>
    </div>
</div> -->
<!--EndModal-->



    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/inicio/"> Inicio </a>
          <ul class="nav">
            <li> <a href="/inicio/carro"> carro </a> </li>
            <li> <a href="/inicio/vaciarcarro"> vaciar </a> </li>
            <li> <a href="/inicio/pagina2"> Pagina2 </a> </li>
            <li> <a href="/inicio/pagina3"> Pagina3 </a> </li>

              <div class="btn-group" id="mario">
                <button type="button" class="btn btn-danger dropdown-toggle renault" data-toggle="dropdown"><i class="icon-shopping-cart"></i>&nbsp;|&nbsp;<span id="cant">{{bu }}</span>&nbsp;items
                </button>
                
                  <ul class="dropdown-menu" role="menu" id="luigi">
                    {% if zk %}
                      {% for p in zk %}
                        {% for q in canti %}
                          {% if forloop.counter == forloop.parentloop.counter %}
                            <li>&nbsp;&nbsp;{{q}} | {{p.nombre}}</li>
                          {% endif %}
                          {% endfor %}
                        {% endfor %}
                      {% endif %} 
                    <li class="divider"></li>
                    <li><a href="/inicio/carro">Mi Carro</a></li>
                  </ul>
                
              </div>
            
          </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
                <div class="span9">
                  <div class="hero-unit">
                    {% block contenido %}
                    {% endblock%}
                  </div>
                </div>

                <div class="span3">
                  <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                      <li class="nav-header">últimos agregados</li>
                      <br>
                      <div id="divLista">
                      </div>
                    </ul>
                  </div>
                </div>

      </div>
    </div>

    

          <footer>
            <p>&copy; Open Project 2013. Versión Django: {{django_version}}</p> 
          </footer>
</body>
</html>





