{% extends 'base.html' %}
{% block titulo %}Universal Club{% endblock %}
{% block contenido %}

{% if zk %}
  <table class="table table-hover" id="tabla_productos">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>F. Editar</th>
        <th>Producto</th>
        <th>F. Eliminar</th>
        <th>Precio U</th>
        <th>Precio C</th>       
      </tr>
    </thead>
    {% for p in zk %}
      {% for q in canti %}
        {% if forloop.counter == forloop.parentloop.counter %}
          {% for j in xy %}
            {% if forloop.counter == forloop.parentloop.counter %}
              <tbody>
                <tr id="tr{{p.id}}">

                  <td> {{q}} </td>

                  <td>       
                    <form method="post" class="frmAgregar">
                      {% csrf_token %}
                      <input type="hidden" id="modal_idProducto2" name="product_id2" value="{{p.id}}">
                      <input type="hidden" id="modal_cantidad" name="cantidad2" value="{{p.stock}}">
                      <input  id="pcantidad" name="cantidad" value="{{q}}" maxlength="3" size="3">
                      <button type="submit" class="btn btn-danger"><i class="icon-pencil"></i></button>
                    </form>
                  </td>

                  <td>{{p.nombre}}</td>
        
                  <td>
                    <form method="post" class="frmEliminar">
                      {% csrf_token %}
                        <input type="hidden" id="modal_idProducto" name="product_id" value="{{p.id}}">      
                        <button type="submit" class="btn btn-danger" id="{{p.id}}"><i class="icon-remove"></i></button>
                    </form>
                  </td>            

                  <td>{{p.precio}}</td>

                  <td> {{j}} </td>
                </tr>
              </tbody>
            {% endif %}
          {% endfor %}
        {% endif %}   
      {% endfor %}
    {% endfor %}
  </table>
  
  <div >
    <ul>
      <li id = "subt">Subtotal = {{st}}</li>
      <li id = "iva1">Iva = {{iv}}</li>
      <li id = "tota">Total = {{suma}}</li>
    </ul>
  </div>

  <a href="/inicio/mandarpedido">Enviar Pedido</a>

{% else %}
  <h2>No hay productos en tu carrito :( </h2>
{% endif %}
{% endblock %}

