{% extends 'base.html' %}
{% block titulo %}Universal Club{% endblock %}
{% block contenido %}


<!--Modal Eliminar-->
<!--  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Producto</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el producto <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="product_id">

            <input type="hidden" id="pcantidad" name="cantidade" value="0">
            
            <button type="submit" class="btn btn-danger" id="{{p.id}}">Si</button>
        </form>
    </div>
</div> -->
<!--EndModal-->



{% if zk %}
   <table class="table table-hover" id="tabla_productos">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>F. Editar</th>
            <th>Producto</th>
            <th>F. Eliminar</th>
            <th>Precio U</th>
            <th>Precio C</th>
            
        </tr>
    </thead>


{% for p in zk %}
  {% for q in canti %}
   
    {% if forloop.counter == forloop.parentloop.counter %}
     {% for j in xy %}
    {% if forloop.counter == forloop.parentloop.counter %}



    <tbody>
        <tr id="tr{{p.id}}">


            <td> {{q}} </td>

            <td>       
                <form method="post" class="frmAgregar">
                    {% csrf_token %}
                    <input type="hidden" id="modal_idProducto2" name="product_id2" value="{{p.id}}">
                    <input  id="pcantidad" name="cantidad" value="{{q}}" maxlength="3" size="3">
                    <button type="submit" class="btn btn-danger"><i class="icon-pencil"></i></button>
                </form>
            </td>


<!--             <td>
                <a href="#myModal2" role="button" class="btn btn-danger agregue" data-toggle="modal" id="{{p.id}}" data-name="{{p.nombre}}"><i class="icon-pencil"></i></a>
            </td> -->

            <td>{{p.nombre}}</td>

<!--             <td>
                <a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}"   data-name="{{p.nombre}}"><i class="icon-remove"></i></a>
            </td> -->
<td>
        <form method="post" class="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="product_id" value="{{p.id}}">

            <input type="hidden" id="pcantidad" name="cantidade" value="0">
            
            <button type="submit" class="btn btn-danger" id="{{p.id}}"><i class="icon-remove"></i></button>
        </form>
</td>            



<td>{{p.precio}}</td>

 <td> {{j}} </td>
<!--             <td>       
                <form method="post" id="frmEliminar">
                    {% csrf_token %}
                    <a href="#" class="delete" id="{{p.id}}" data-name="{{p.nombre}"></a>
                    <input type="hidden" id="modal_idProducto2" name="product_id" value="{{p.id}}">
                    <button type="submit" class="btn btn-danger">Aformulario</button>
                </form>
            </td> -->



        </tr>
    </tbody>
    {% endif %}
      {% endfor %}
     {% endif %}
    
    
    


    {% endfor %}
{% endfor %}
   </table>

   <ul>
    <li>Subtotal = {{st}}</li>
    <li>Iva = {{iv}}</li>
    <li>Total = {{suma}}</li>

   </ul>


{% else %}
<h2>No hay productos en tu carrito :( </h2>


{% endif %} 



{% endblock %}

