{% extends 'base.html' %}
{% block titulo %}Universal Club{% endblock %}
{% block contenido %}


<!--Modal Agregar-->
<!--  <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel2">Agregar Producto al Carro</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea agregar el producto <span id="modal_name2"></span> al carrito?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmAgregar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto2" name="product_id2">
            <input  id="pcantidad" name="cantidad" value="1">
            
            <button type="submit" class="btn btn-danger" id="{{p.id}}">Si</button>
        </form>
    </div>
</div> -->
<!--EndModal-->


{% if Productos %}
   <table class="table table-hover">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
<!--             <th>C</th> -->
            <th>Comprar</th>

        </tr>
    </thead>
    {% for p in Productos %}
    <tbody>
        <tr>



            <td>{{p.nombre}}</td>
            <td>{{p.precio}}</td>
<!--             <td><a href="/inicio/alcarrito/{{p.id}}">C</a></td> -->
            <td><a href="#myModal2" role="button" class="btn btn-danger agregue" data-toggle="modal" id="{{p.id}}" data-name="{{p.nombre}}"><i class="icon-shopping-cart"></i>Compre</a></td>


<!--             <td>       
                <form method="post" id="frmAgregar">
                    {% csrf_token %}
                    <input type="hidden" id="modal_idProducto2" name="product_id2" value="{{p.id}}">
                    <button type="submit" class="btn btn-danger">Aformulario</button>
                </form>
            </td> -->




        </tr>
    </tbody>
    {% endfor %}
   </table>


{% else %}
<h2>No existen productos a la venta :( </h2>


{% endif %} 



{% endblock %}

